.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.card_wrapper {
  border-radius: 5px;

  &:hover {
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}

.image_wrapper {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}
